{% extends 'homePage/base.html' %}
{% block title %}Pending Submissions{% endblock %}
{% block content %}
<div class="flex items-center justify-center bg-gray-100">
    <div class="bg-white shadow-md rounded w-full p-10">
        <div class="container mx-auto px-4 py-8">
            <p class="text-xl pb-3 flex items-center">
                <i class="fas fa-user mr-3"></i> Your Pending Submissions:
            </p>
            <div class="bg-white shadow overflow-hidden rounded-lg">
                <table class="min-w-full">
                    <thead class="bg-gray-50">
                    <tr>
                        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Title</th>
                        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Description</th>
                        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Status</th>
                        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Publication Status</th>
                        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Actions</th>
                    </tr>
                    </thead>
                    <tbody class="bg-white divide-y divide-gray-200">
                    {% for report in reports %}
                    <tr>
                        <td class="px-6 py-4 whitespace-nowrap">
                            <div class="text-sm font-medium text-gray-900">{{ report.title }}</div>
                        </td>
                        <td class="px-6 py-4">
                            <div class="text-sm text-gray-500">{{ report.description|truncatechars:60 }}</div>
                        </td>

                        <td class="px-6 py-4 whitespace-nowrap">
                            {% if report.get_status_display == "In Progress" %}
                            <span class="relative inline-block px-3 py-1 font-medium text-orange-900 leading-tight">
                                <span aria-hidden="true" class="absolute inset-0 bg-yellow-200 opacity-50 rounded-full"></span>
                                <span class="relative">In Progress</span>
                            </span>
                            {% elif report.get_status_display == "New" %}
                            <span class="relative inline-block px-3 py-1 font-medium text-green-900 leading-tight">
                                <span aria-hidden="true" class="absolute inset-0 bg-green-200 opacity-50 rounded-full"></span>
                                <span class="relative">New</span>
                            </span>
                            {% elif report.get_status_display == "Complete" %}
                            <span class="relative inline-block px-3 py-1 font-medium text-red-900 leading-tight">
                                <span aria-hidden="true" class="absolute inset-0 bg-red-200 opacity-50 rounded-full"></span>
                                <span class="relative">Complete</span>
                            </span>
                            {% else %}
                            <!-- Fallback for any status that doesn't match the above, adjust as needed -->
                            <span class="relative">{{ report.get_status_display }}</span>
                            {% endif %}
                        </td>

                        <td class="px-6 py-4 whitespace-nowrap">
                            {% if report.publication_status == "In Progress" %}
                            <span class="relative inline-block px-3 py-1 font-medium text-orange-900 leading-tight">
                                <span aria-hidden="true" class="absolute inset-0 bg-yellow-200 opacity-50 rounded-full"></span>
                                <span class="relative">In Progress</span>
                            </span>
                            {% elif report.publication_status == "Published" %}
                            <span class="relative inline-block px-3 py-1 font-medium text-green-900 leading-tight">
                                <span aria-hidden="true" class="absolute inset-0 bg-green-200 opacity-50 rounded-full"></span>
                                <span class="relative">New</span>
                            </span>
                            {% elif report.publication_status == "Denied" %}
                            <span class="relative inline-block px-3 py-1 font-medium text-red-900 leading-tight">
                                <span aria-hidden="true" class="absolute inset-0 bg-red-200 opacity-50 rounded-full"></span>
                                <span class="relative">Complete</span>
                            </span>
                            {% else %}
                            <!-- Fallback for any status that doesn't match the above, adjust as needed -->
                            <span class="relative">{{ report.get_status_display }}</span>
                            {% endif %}
                        </td>

                        <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                            <a href="{% url 'whistleblower:submission_details' report.id %}" class="text-indigo-600 hover:text-indigo-900">View details</a>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td class="px-6 py-4 whitespace-nowrap" colspan="6">No pending submissions found.</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>  

{% endblock %}