{% extends 'homePage/base.html' %}

{% block content %}
<div class="flex items-center justify-center bg-gray-100">
    <div class="bg-white shadow-md rounded-lg p-10">
        <h1 class="text-2xl font-semibold mb-4">Federal Policies on Employee Whistleblowing and Retaliation</h1>
        <p class="text-lg font-semibold">Employee Rights Information</p>

        <section class="mt-4">
            <h2 class="font-bold text-gray-700">U.S. Equal Employment Opportunity Commission (EEOC)</h2>
            <p>
                The EEOC enforces laws that prohibit discrimination against employees because of race, color, religion, sex (including pregnancy), national origin, age (40 or older), disability, or genetic information, and retaliation against employees for opposing such discrimination. To learn more about EEOC's laws, or to file a complaint, visit <a href="https://www.eeoc.gov" class="text-blue-500 hover:text-blue-600">www.eeoc.gov</a> or call 1-800-669-4000.
            </p>
        </section>

        <section class="mt-4">
            <h2 class="font-bold text-gray-700">Wage and Hour Division (WHD)</h2>
            <p>
                The WHD enforces Federal laws on the minimum wage, overtime pay, wage recordkeeping, and child labor requirements of the Fair Labor Standards Act. WHD also enforces the Family and Medical Leave Act, migrant and seasonal worker protections, worker protections in certain temporary guest worker programs, and the prevailing wages for government-funded service and construction contracts. To learn more about WHD's laws, or to file a complaint, visit <a href="https://www.dol.gov/whd" class="text-blue-500 hover:text-blue-600">www.dol.gov/whd</a> or call 1-866-4-USWAGE (1-866-487-9243).
            </p>
        </section>

        <section class="mt-4">
            <h2 class="font-bold text-gray-700">National Labor Relations Board (NLRB)</h2>
            <p>
                The NLRB protects the rights of most private-sector employees to join together, with or without a union, to improve their wages and working conditions. To learn more about NLRB's laws, or to file a charge, visit <a href="https://www.nlrb.gov" class="text-blue-500 hover:text-blue-600">www.nlrb.gov</a> or call 1‑866-667-NLRB (6572).
            </p>
        </section>

        <section class="mt-4">
            <h2 class="font-bold text-gray-700">Federal Employees</h2>
            <p>
                Federal employees who wish to report safety or health hazards should contact their respective agency's Designated Agency Safety and Health Officer (DASHO). For assistance filing a complaint with a DASHO, federal employees may contact OSHA's Office of Federal Agency Programs. For contact information, visit <a href="https://www.osha.gov/enforcement" class="text-blue-500 hover:text-blue-600">www.osha.gov/enforcement</a>. Please note that reporting an alleged safety or health hazard to DASHO is not the same as filing a retaliation complaint with the Office of Special Counsel.
            </p>
        </section>

        <section class="mt-4">
            <h2 class="font-bold text-gray-700">Office of Special Counsel (OSC)</h2>
            <p>
                The OSC handles claims of retaliation within the executive branch of the federal government from current federal employees, former employees, and applicants for federal employment. Federal employees who believe that they have suffered retaliation may file a complaint with the OSC. Visit <a href="https://www.osc.gov" class="text-blue-500 hover:text-blue-600">www.osc.gov</a> for more information.
            </p>
        </section>

        <hr class="my-6">

        <h1 class="font-semibold text-lg">Additional Information:</h1>
        <ul class="list-disc pl-5">
            <li><a href="https://www.whistleblowers.gov/about-us" class="text-blue-500 hover:text-blue-600">Page source</a></li>
            <li><a href="https://www.dol.gov/general/topics/whistleblower" class="text-blue-500 hover:text-blue-600">Department of Labor</a></li>
            <li><a href="https://www.ftc.gov/office-inspector-general/whistleblower-protection" class="text-blue-500 hover:text-blue-600">Federal Trade Commission</a></li>
        </ul>
    </div>
</div>
{% endblock %}
