        <footer class="w-full bg-gray-200 text-right p-4">
            <center>
                Built by <a target="_blank" href="" class="underline">Team B-11</a>.
                <p class="text-sm">
                    This system is part of a class project and is not monitored. Please do not submit any real information.
                </p>
                <p class="text-sm">
                    If you need to report an issue or concern in a real scenario, please contact the appropriate authorities or visit
                    <a href="https://www.usa.gov/" class="text-blue-300 hover:text-blue-500">USA.gov</a> for resources.
                </p>
            </center>
        </footer>